.bar {
    @apply w-6 mx-px bg-gray-400 flex justify-center items-end rounded-t relative;
}

.bar.comparing {
    @apply bg-red-500 transition-all;
}

.bar.swapping {
    @apply bg-yellow-500 transition-all;
}

.bar.sorted {
    @apply bg-green-500 transition-all;
}
.bar span {
    font-size: 0.875rem;
}
.barLabel {
    position: absolute;
    top: -20px;
    font-size: 0.5rem;
}
